<!-- The inner circle, showing the site title and subtitle -->
<div id="inner-circle">
  <div id="inner-circle-content">
    <h2 id="inner-circle-title">{{ title }}</h2>
    <h3 id="inner-circle-subtitle">{{'{' + subtitle + '}'}}</h3>
  </div>
  <div id="inner-circle-details" style="display: none;">
    <!--<mat-icon svgIcon="{{ icon }}"></mat-icon>-->
    <h2 id="details-title">{{ details }}</h2>
  </div>
</div>

<!-- The options to display in the header section -->
<div id="options-ring">
  <ul id="options-list">
    <li *ngFor="let option of options">
      <app-header-option *ngIf="option.sectionId; else linkOption"
                         class="header-option"
                         [icon]="option.icon"
                         (click)="scrollTo(option.sectionId)"
                         title="{{'{' + option.title + '}'}}"
                         (hover)="onHoverOption($event)"
                         (leave)="onLeaveOption()"></app-header-option>
      <ng-template #linkOption>
        <app-header-option class="header-option"
                           [icon]="option.icon"
                           [link]="option.link"
                           title="{{'{' + option.title + '}'}}"
                           (hover)="onHoverOption($event)"
                           (leave)="onLeaveOption()"></app-header-option>
      </ng-template>
    </li>
  </ul>
</div>
