@import 'color-theme';

#about-section {

  #about-row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    #about-photo {
      margin: 40px;
      object-fit: cover;
      border-radius: 50%;
      width: 400px;
      height: 400px;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s;
    }

    #about-photo:hover {
      -webkit-box-shadow: 0 0 50px 10px rgba($dark, 0.7);
      -moz-box-shadow: 0 0 50px 10px rgba($dark, 0.7);
      box-shadow: 0 0 50px 10px rgba($dark, 0.7);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }

    #about-content {
      margin: 40px;
      min-width: 400px;
      max-width: 800px;
    }

  }

  #about-row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

}
