@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'color-theme';

/* Fix for mdi for icons used in menu items */
button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}

/* Font */
body {
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Consolas, "Liberation Mono", "Courier New", monospace;
}
